@import url('https://fonts.googleapis.com/css?family=Bangers');
body{

}


.app-container{
  header {
    background-color: #000;
    height: 20px;
    padding: 20px;
    color: white;
    a{
      font-family: 'Bangers', cursive;
      color:white;
      text-decoration: none;
    }
  }

  .app-content{
    
    min-height: calc(100vh - 40px);
    background: rgba(0, 0, 0, 0.34);
    .home{
      //data is being dynamically added.
      overflow:auto;
      max-width:1100px;
      margin:0 auto;
    }
  }
}



//IndexPage.js
.comiclist{
  margin: 0px;
  padding:0px;

  li{
    // border: 1px solid white;
    background: transparent!important;
    width: 33%;
    float: left;
    list-style-type:none;
    padding:1rem;
    box-sizing:border-box;
    //reset links
    a{
      text-decoration: none;
      color:white;
    }
  }
}


//ComicCard.js
.comiccard{
    // when using thumbnails as BG
    min-height: 555px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.55) !important;
    background-position: center 40px;
    border-radius: 0.25rem;
    padding:10px;
    .imgWrapper{
      img{
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        display: block;
        border-radius: 0px 30px 30px 0px;
      }      
    }


    .comicdata{
      h1{
        font-family: 'Bangers', cursive;
        font-size: 16px;
        text-align: center;
        letter-spacing:1.5px;
      }
    }


    
}


