//links, h1
@import url('https://fonts.googleapis.com/css?family=Bangers');
//Btn, headings
@import url('https://fonts.googleapis.com/css?family=Bahiana');

//p txt
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

//variables
$mobile: 640px;

body{

}
@mixin btn_btn ($bg:rgb(134, 49, 49), $hbg:#501e1e){
  font-family: 'Bahiana', cursive;
  font-size: 1em;
  text-align: center;
  line-height: 1.2;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 300px;
  background-color: $bg;
  border: solid rgba(146, 146, 44, 1) 0px;
  box-shadow: 1px 1px #746367, 3px 3px #746367, 5px 5px #746367, 7px 7px #746367, 9px 9px #746367;
  transition: all 0.12s ease 0s;
  position: relative;
  outline:none;
  cursor:pointer;
  display: block;
  margin: 0 auto;
  &:hover{
    background-color: $hbg;
    border-color: rgba(255, 255, 255, 1);
  }
}

.app-container{
  header {
    background-color: #000;
    height: 20px;
    padding: 20px;
    border-bottom: 3px solid #9e9d9d;
    color: white;
    a{
      font-family: 'Bangers', cursive;
      color:white;
      text-decoration: none;
    }
  }

  .app-content{
    
    min-height: calc(100vh - 40px);
    background: rgba(0, 0, 0, 0.34);
    .home{
      //data is being dynamically added.
      overflow:auto;
      max-width:1100px;
      margin:0 auto;

      //Search Component
      .search_component{
        width: 400px;
        height: 130px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        background: #141519;
        margin: 100px auto;
        text-align: center;
        @media(max-width: $mobile){
          width: 90%;
        }
        .search_input{
          background-color: #22232a;
          border-radius: 45px;
          font-size: 15px;
          height: 45px;
          border: none;
          padding-left: 15px;
          width: calc(100% - 20px);
          margin-bottom: 20px;
          box-shadow:1px 1px #4c4b4b, 3px 3px #4c4b4b, 5px 5px #4c4b4b, 7px 7px #4c4b4b, 9px 9px #4c4b4b;
          outline:none;
          &, &[type='text'][placeholder]{
            color: #a4abb7;
            font-size: 15px;
            font-weight: 500;
          }
          
        }

        .search_btn {
          @include btn_btn;
        }
      }
    }
  }
}

.view_more{
  @include btn_btn(green, red)
}

//IndexPage.js
.comiclist{
  margin: 0px;
  padding:0px;

  li{
    // border: 1px solid white;
    background: transparent!important;
    width: 33%;
    float: left;
    list-style-type:none;
    padding:1rem;
    box-sizing:border-box;
    @media(max-width: $mobile){
      width: 100%;

    }
    //reset links
    a{
      text-decoration: none;
      color:white;
    }
  }
}


//ComicCard.js
.comiccard{
    // when using thumbnails as BG
    min-height: 555px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.55) !important;
    background-position: center 40px;
    border-radius: 0.25rem;
    padding:10px;
    .imgWrapper{
      img{
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        display: block;
        border-radius: 0px 30px 30px 0px;
      }      
    }


    .comicdata{
      h1{
        font-family: 'Bangers', cursive;
        font-size: 16px;
        text-align: center;
        letter-spacing:1.5px;
      }
      p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.6;
        padding: 10px;
      }
    }


    
}





